
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Alisha Li</title>
  </head>
  <body>
    <h1>Alisha Li</h1>
    Hello, I am a Data Science major at Wellesley College currently studying causal inference, philosophy, and english. Outside of computers, I fence and sometimes get really into <a href="/anki-heatmap">Anki</a>.

    <p class="socials">
      <a href="https://github.com/alisha-li">github</a> <span class="separator">|</span> <a href="https://www.linkedin.com/in/alishali138/">linkedin</a> <span class="separator">|</span> <a href="https://x.com/xalishali">x</a> <span class="separator">|</span> al138@wellesley.edu
    </p>

  </body>
</html>
