<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Alisha Li</title>
  </head>
  <body>
    <h1>Alisha Li</h1>
    Currently I am studying Multivariate Statistics, Computer Systems, and Combinatorics and Graph Theory at Wellesley College.
    Last semester I took Linear Algebra and Probability, and last summer I worked in <a href="https://www.freddynguyen.org/">Prof. Nguyen's</a> physician scientist group developing data piplines, visualizations, and query tests.
    I can often be found fencing, using <a href="/anki-heatmap">Anki</a>, or drinking tea.

    <p>al138@wellesley.edu &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/alisha-li">github</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.linkedin.com/in/alishali138/">linkedin</a></p>

  </body>
</html>