<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Alisha Li</title>
  </head>
  <body>
    <h1>Alisha Li</h1>
    I am a dynamic figure often seen scaling trees and flailing swords. I bike at alarming speeds, bargain on 
    Facebook marketplace, and read while crossing crosswalks. My collection of literary quotes is known to move 
    acquaintances to tears. I studied for two years at an all-women's college (Wellesley); I'm going into my third. 
    I repair swords, install bike racks, and assemble Ikea furniture. But I do not yet know how to make (almost) anything. (Credit: <a href="https://www-users.york.ac.uk/~ss44/joke/essay.htm">Hugh Gallagher</a>)

    <p>Connect with me through al138@wellesley.edu, <a href="https://github.com/alisha-li">github</a>, or <a href="https://www.linkedin.com/in/alishali138/">linkedin</a>. </p>

    <p>Look at my <a href="/anki-heatmap">Anki</a>!</p>

  </body>
</html>